{% extends 'begin/base.html' %}
{% load static %}
{% block body %}

	<section class="indeximg" >
		<div class="first" >
		<img class="indeximg" width="100%" height="100%"  src="{% static 'images/books.jpg' %}" >
		<strong><h1 id="mainh1">Welcome to our page</h1></strong>
<!--			<p id="pmain">Recycle books</p>-->
			</div>
	</section>
{% endblock %}
<!--{% load static %}-->

<!--<html>-->
<!--<head>-->
	<!--<meta charset="utf-8">-->
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<!--<link rel="stylesheet" href="{% static 'begin/style.css' %}">-->
	<!--<title>My website</title>-->
	<!--<style>-->
		<!--#mainh1{-->
	<!--position:absolute;-->
	<!--top:50%;-->
	<!--font-size:50px;-->
	<!--color:#800000;-->
	<!--left:20%;-->
<!--}-->
<!--.indeximg{-->
	<!--background-image: "images/books.jpg";-->
	<!--width: 100vw;-->
	<!--height: 100vh;-->
	<!--position: relative;-->
<!--}-->
<!--.one{-->
<!--font-size:30px;-->
<!--text-decoration:none;-->
<!--margin:10px;-->
<!--float:right;-->
<!--top:5px;-->
<!--padding:20px 10px;-->
<!--position:absolute;-->
<!--}-->
<!--.active{-->
<!--left:10%;}-->
<!--.au{-->
<!--left:20%;}-->
<!--.service{-->
<!--left:30%;-->
<!--}-->
<!--.contact{-->
<!--left:45%;}-->
<!--.login{-->
<!--left:60%;}-->
<!--.register{-->
<!--left:70%;}-->
	<!--</style>-->
<!--</head>-->
<!--<body>-->
	<!--<div class="first">-->
	<!--<section class="navbar">-->
		<!--<img class="indeximg" src="{% static 'images/books.jpg' %}" >-->
		<!--<h1 id="mainh1">Recycle Books, Save Money</h1>-->
<!--<nav>-->
	<!--&lt;!&ndash;<h1>&ndash;&gt;-->
		<!--&lt;!&ndash;<ul><li>&ndash;&gt;-->
			<!--&lt;!&ndash;<a class="active one" href="{% url 'begin:index' %}">Home</a>&ndash;&gt;-->
	<!--&lt;!&ndash;<a class="one au" href="{% url 'begin:about-us' %}">About Us</a>&ndash;&gt;-->
	<!--&lt;!&ndash;<a class="one service" href="{% url 'begin:service' %}">Our Services</a>&ndash;&gt;-->
	<!--&lt;!&ndash;<a class="one contact" href="{% url 'begin:contact' %}"> Contact Us</a>&ndash;&gt;-->
	<!--&lt;!&ndash;<a class="one login" href="{% url 'accounts:login' %}">Login</a>&ndash;&gt;-->
	<!--&lt;!&ndash;<a  class="one register" href="{% url 'accounts:signup' %}">Register</a>&ndash;&gt;-->

		<!--&lt;!&ndash;</li></ul>&ndash;&gt;-->
			<!--&lt;!&ndash;</h1>&ndash;&gt;-->


<!--&lt;!&ndash;</nav>&ndash;&gt;-->
		<!--{% include 'begin/base.html' %}-->
<!--</section>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

